:host {
  position: relative;
  display: flex;
  z-index: 1;
  flex: 1 1 auto;
  background-color: transparent;
  justify-content: center;

  >div {
    flex: 0 0 1024px;
  }

  .brand {
    cursor: pointer;

    >a {
      text-decoration: none;
    }
  }

  ul>li:last-child {
    margin-left: auto;
  }
}