<div class="p-3 bg-light border-top d-flex justify-content-between">
  <span class="font-weight-bold copyright">Katalog App @ All rights reserved</span>
  <div class="d-flex justify-content-between social-media">
    <a rel="nofollow noopener noreferrer"
       href="http://www.instagram.com"
       target="_blank">
      <i-bs name="instagram"
            class="mr-1"></i-bs>
    </a>
    <a rel="nofollow noopener noreferrer"
       href="http://www.twitter.com"
       target="_blank">
      <i-bs name="twitter"
            class="mr-1"></i-bs>
    </a>
    <a rel="nofollow noopener noreferrer"
       href="http://www.facebook.com"
       target="_blank">
      <i-bs name="facebook"
            class="mr-1"></i-bs>
    </a>
  </div>
</div>